#title {
    padding: 10px;
    color: #464646;
}
table {
    width: 100%;
    text-align: center;
}
body {
    background-image: url("https://mobimg.b-cdn.net/v3/fetch/df/df5391fee5683f2034ca45e1c4e4605a.jpeg");
  }