#title {
    padding: 10px;
    color: #464646;
}
/* body {
    background: burlywood;
} */
table {
    width: 100%;
    text-align: center;
}
th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }